<section class="tiles">
    {% for member in (site.members | sort: 'title') %}
        <article>
            <span class="image">
                <img src="{{ "/assets/img/members/" | prepend: site.baseurl }}{{ member.img }}" alt="" />
            </span>
            <a href="{{ member.url | prepend: site.baseurl }}">
                <div class="content">
                    <h2>{{ member.title }}</h2>
                    <p>{{ member.role }}</p>
                </div>
            </a>
        </article>
    {% endfor %}
</section>
