---
layout: default
---

<div class="row uniform">
    <div class="9u 12u$(small)">
        {{ content }}
    </div>
    <div class="3u$ 12u$(small) important(small)">
        <span class="image fit"><img src="{{ "/assets/img/members/" | append: page.img | prepend: site.baseurl }}" alt="" /></span>
        <h3>{{ page.role }}</h3>
        <ul class="icons">
            {% for network in page.social %}
                <li><a href="{{ network.url }}" class="icon style1 fa-{{ network.type }}"><span class="label">{{ network.title }}</span></a></li>
            {% endfor %}
        </ul>
        <h4>Projects</h4>
        <ul>
            {% assign projects = site.projects | sort: 'slug' %}
            {% for project in projects %}
                {% if project.contributors contains page.slug %}
                    <li><a href="{{ project.url }}">{{ project.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <h4>Other Engagements</h4>
        <ul>
            {% for engagement in page.engagements %}
                <li>{{ engagement.role }}, <a href="{{ engagement.url }}">{{ engagement.org }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
