---
layout: default
---

<div class="row uniform">
    <div class="9u 12u$(small)">
        {{ content }}
    </div>
    <div class="3u$ 12u$(small) important(small)">
        {% if page.website %}
            <h4><a href="{{ page.website }}">Website</a></h4>
        {% endif %}
        <h4>Contributors</h4>
        <ul>
            {% for member in (site.members | sort: 'title') %}
                {% if page.contributors contains member.slug %}
                    <li><a href="{{ member.url }}">{{ member.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
